

.question3 {
    background-color: #538FF7;
}

.question3 button {
    border: 6px solid transparent;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 6px;
}
.question3 button:hover {
    border-color: aqua;
}
