

.question2 {
    background-color: #EC5E4F;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question2 button {
    border: 6px solid transparent;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 6px;
}
.question2 button:hover {
    border-color: aqua;
}
